body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.toDoListBadge {
    margin: 5px;
    border: 3px solid white;
}

/*Source: https://bootstrapbay.com/blog/bootstrap-button-styles/ */
.btn-primary{

    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius:0;
    margin-top:25px
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.btn-primary.red {
	background: -moz-linear-gradient(top,  #ff0000 50%, #d40000 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ff0000), color-stop(50%,#d40000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 50%,#d40000 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 50%,#d40000 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 50%,#d40000 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 50%,#d40000 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#d40000',GradientType=0 ); /* IE6-9 */
}

.btn-primary.red:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #FF3737 50%, #D83232 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#FF3737), color-stop(50%,#D83232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FF3737 50%,#D83232 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FF3737 50%,#D83232 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FF3737 50%,#D83232 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #FF3737 50%,#D83232 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3737', endColorstr='#D83232',GradientType=0 ); /* IE6-9 */
}

.btn-primary.red:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #AE1C1C 50%, #981717 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#AE1C1C), color-stop(50%,#981717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #AE1C1C 50%,#981717 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #AE1C1C 50%,#981717 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #AE1C1C 50%,#981717 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #AE1C1C 50%,#981717 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AE1C1C', endColorstr='#981717',GradientType=0 ); /* IE6-9 */
}

.user-n-disp {
	-webkit-text-fill-color: blue;
	color: blue;
	font-size: 35px;
}

/*Source: https://bootstrapbay.com/blog/bootstrap-button-styles/ */

/* https://css-tricks.com/exposing-form-fields-radio-button-css/ */
/* not currently in use */
/* https://css-tricks.com/exposing-form-fields-radio-button-css/ */

