@{
    ViewData["Title"] = "RabbitTown";
}

@model IEnumerable <Rabbit>

@foreach(rabbit alpha in Model) {
    <div> 
    </div>
}
<div>
    <h1 align = "center">Hello, I'm a giant rabbit. Please hop my face.</h1> 
</div>
<div>
    <p align = "center" > 
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Rabbit_in_montana.jpg"/>
    </p>
</div>