@{
    ViewData["Title"] = "Success";
}

<div class="row">
    <div class="col-md">
        <div class="alert alert-info" role="alert">Registration Successful! Please continue to login.</div>
    </div>
</div>