/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tablebody {
    margin-left:auto;
    margin-right: auto;
    text-align: left;
}

.rickroll {
    border-width: 0px;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
    
    /*Center the cursor for form input */
    text-align: center;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;
    text-align: center;

}

/*Credit to: http://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
