@{
    ViewData["Title"] = "Nothing To Show";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading panel-warning">
                    <h3 class="panel-title">Nothing to Show!</h3>
            </div>
        </div>
    </div>
</div>