@model mypartysite.Model.Event
@{
    ViewData["Title"] = "Request Status";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading panel-info">
                    <h3 class="panel-title">Event Request Status:</h3>
            </div>
            <div class=panel-body>
                <span>@{
                    if (ViewBag.Accepted == "Accepted")
                    {
                        <img src="~/images/greencheck.svg" alt="Visual Studio" class="media-left" width="40px" height="40px" align="left"/><span class="sr-only">Accepted</span>
                    }
                    else if (ViewBag.Accepted == "Awaiting Approval")
                    {
                        <img src="~/images/yellowwait2.svg" alt="Visual Studio" class="media-left" width="40px" height="40px" align="left"/><span class="sr-only">Awaiting Approval</span>
                    }
                    else if (ViewBag.Accepted == "Denied")
                    {
                        <img src="~/images/redx.svg" alt="Visual Studio" class="media-left" width="40px" height="40px" align="left"/><span class="sr-only">Denied</span>
                    }
                }@ViewBag.EventName</span>
                <br>
                <span>Status: @ViewBag.Accepted</span>
            </div>
        </div>
    </div>
</div>